<html>
    <head>
        <title>Django Girls Noiriel ;)</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.9.2019</p>
            <h2><a href="">My first post</a></h2>
            <p>Ohhh my it's working!</p>
        </div>

        <div>
            <p>published: 14.09.2019</p>
            <h2><a href="">My second post</a></h2>
            <p>Me speak no Espanol.</p>
        </div>
    </body>
</html>